<div id="subPageContent">
    <div id="content_container" class="ui-content" data-role="content" role="main">
        <div class="jqm-content ui-content" data-role="content" role="main">
            <form id="frmComment" class="limited-width" method="post"  data-postid-toSubmit ="${feedbackId}">
                <p>${feedbackContent}</p>
                <textarea  id="comment_textarea" placeholder="hre Impressionen vom ersten EGA Event" ></textarea>
                <div class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-b" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="b" data-disabled="false" aria-disabled="false">
                <span class="ui-btn-inner"><span class="ui-btn-text">
                 Übermitteln
                </span></span>
                    <input id="btnComment"  class="ui-btn-hidden" type="submit" data-theme="b" value="comment" data-disabled="false"/>
                </div>
            </form>
        </div>
    </div>
</div>
