<div id='subPageContent'>
    <div id="content_container" class="ui-content" data-role="content" role="main">
        <div class="jqm-content ui-content" data-role="content" role="main">
            <p>{{html openSpaceMainContent}} </p>
            <ul id='exhibitor-image-list'>
            {{each(i, exhibitor) exhibitors}}
            <li class='exhibitor' data-exhibitor-content='{{html exhibitor.exhibitorDescription}}'><a href="#" alt="${exhibitor.exhibitorDescription}">{{html exhibitor.exhibitorImage}}</a></li>
            {{/each}}
            </ul>
        </div>
    </div>
</div>