<div id="subPageContent">
    <ul class="agenda-details">
        <li class="details-starting-time">${start} Uhr</li>
        <li class="details-title">${title}</li>

        {{each(i, speaker) speaker}}
            <li>
                <a class="speaker-item list-view-item" href="users.get_speaker?speaker_id=${speaker.id}" id="${speaker.id}" title="${speaker.username}">
                    <span class="details-speaker">${speaker.username}</span>
                </a>
            </li>
        {{/each}}
    </ul>

    <p id="session-content">${content}</p>
        <form id="frmComment">
            <div class="limited-width comment-container">
                <textarea  id="comment" placeholder="Kommentar oder Fragen zum Vortrag"></textarea>
                <div class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-a"  data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="a" data-disabled="false" aria-disabled="false">
	                <span class="ui-btn-inner"><span class="ui-btn-text">Kommentar absenden</span></span>
                    <input id="btnSubmitComment" class="ui-btn-hidden" type="submit" data-theme="a" data-poll-id="${poll.pollq_id}" value="comment" data-disabled="false"/>
                </div>
                <input type="hidden" id="session_id" name="session_id" value="${id}" />
            </div>
        </form>

        {{if poll && poll == "1"}}
            <form id="frmPoll" action="/api/polls.vote_poll">
                <div class="poll-container limited-width">
                    <h3 class='poll-title'>${poll.pollq_question}</h3>
                    <ul class="poll-choices-list">
                        {{each(i, pollanswer) poll.pollAnswers}}
                            {{if pollanswer.polla_answers != " "}}
                                <li class="poll-item">
                                    <input type="radio" id="answer-${pollanswer.polla_aid}" name="${poll.pollq_id}" value="${pollanswer.polla_aid}">
                                    <label for="answer-${pollanswer.polla_aid}">${pollanswer.polla_answers}</label>
                                </li>
                            {{else}}
                                <li class="poll-item">
                                    <input type="radio" name="${poll.pollq_id}" value="-1" id="new-answer">
                                    <label for="new-answer" class="label-answer-input">
                                        <span class="answer-input"><input class="" type="text" name="${poll.pollq_id}-new-text" data-radiobutton-value="${poll.pollq_id}-new" id="new-answer-text" value=""/></span> </label>
                                </li>
                            {{/if}}
                        {{/each}}
                    </ul>

                    <div class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-a"  data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="a" data-disabled="false" aria-disabled="false">
	                    <span class="ui-btn-inner"><span class="ui-btn-text">Abstimmen</span></span>
                        <input id="btnSubmitPoll" class="ui-btn-hidden" type="submit" data-theme="a" data-poll-id="${poll.pollq_id}" value="comment" data-disabled="false"/>
                    </div>
                    <input type="hidden" id="poll_id" name="poll_id" value="${poll.pollq_id}" />
                </div>
            </form>
        {{/if}}
</div>