<ul id='session-list' data-role='listview' data-inset='false' >
    {{each(i, sessionCategory) sessions}}
        <li data-role="list-divider"><h1>${sessionCategory[0].category}</h1></li>

        {{each(i, session) sessionCategory}}
            {{if session.isPause != 1 }}
                <li class="session" >
                      <a class="list-view-item" href="sessions.get_session?session_id=${session.id}" id="${session.id}" title="${session.title}">
                          <span class="session-start">${session.start}</span>
                          <span class='session-title'>${session.title}</span>
                      </a>
                </li>
            {{else}}
                <li class="pause session" >
                    <span class="session-start pause">${session.start}</span>
                    <span class='session-title pause'>${session.title}</span>
                </li>
            {{/if}}
        {{/each}}
    {{/each}}
</ul>
