<div id="subPageContent">
    <div id="content_container" class="ui-content" data-role="content" role="main">
        <div class="jqm-content ui-content" data-role="content" role="main">
            <form id="frmComment" method="post"  data-postid-toSubmit ="${id}">
                <ul class="agenda-details">
                	<li class="details-starting-time">${start} Uhr</li>
                	<li class="details-title">${title}</li>
                    {{each(i, speaker) speaker}}
                    <li> <span class="details-speaker" data-speaker-id="${speaker.id}">${speaker.username}</span></li>
                    {{/each}}

                </ul>
                <p id='session-content'>${content}</p>
                {{if comment && comment == "1"}}
                <div class="limited-width comment-container">
	                <textarea  id="comment_textarea" placeholder="Kommentar oder Fragen zum Vortrag"></textarea>
	                <div class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-b" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="b" data-disabled="false" aria-disabled="false">
	                <span class="ui-btn-inner"><span class="ui-btn-text">
	                 Kommentar senden
	                </span></span>
	                    <input id="btnComment" class="ui-btn-hidden" type="submit" data-theme="b" value="comment" data-disabled="false"/>
	                </div>
               	</div>
            </form>
            {{/if}}
            {{if poll}}
            <div class="poll-container limited-width">
                <h3 class='poll-title'>${poll.pollq_question}</h3>
                <ul class="poll-choices-list">
						{{each(i, pollanswer) poll.pollAnswers}}
							{{if pollanswer.polla_answers != " "}}
								<li class="poll-item">
									<input type="radio" id="answer-${pollanswer.polla_aid}" name="${poll.pollq_id}" value="${pollanswer.polla_aid}">
									<label for="answer-${pollanswer.polla_aid}">${pollanswer.polla_answers}</label>
								</li>
							{{else}}
		                        <li class="poll-item">
		                            <input type="radio" name="${poll.pollq_id}" value="-1" id="new-answer">
		                            <label for="new-answer" class="label-answer-input">
		                                <span class="answer-input"><input class="" type="text" name="${poll.pollq_id}-new-text" data-radiobutton-value="${poll.pollq_id}-new" id="new-answer-text" value=""/></span> </label>
		                        </li>
							{{/if}}
						{{/each}}
            	    </ul>
                <div class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-b" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="b" data-disabled="false" aria-disabled="false">
                    <span class="ui-btn-inner"><span class="ui-btn-text">
                    Abstimmen	
                    </span></span>
                    <input id="btnSubmitPoll" class="ui-btn-hidden" type="button" data-theme="b" data-poll-id="${poll.pollq_id}" value="comment" data-disabled="false"/>
                </div>
            </div>
            {{/if}}
            </form>
        </div>
    </div>
</div>