<ul id='speaker-list' data-role='listview' data-inset='false'>
    {{each(i, speaker) speakers}}
        <li class='speaker' data-speaker-content="${speaker.name}|${speaker.imgUrl}|${speaker.bio}">
            <a class="speaker-item list-view-item" href="users.get_speaker?speaker_id=${speaker.id}" id="${speaker.id}" title="${speaker.name}">
                <div class="speaker-image-wrapper">
                    <img src='${speaker.imgUrlThumb}' title='${speaker.name}' alt='Bild von ${speaker.name}' class='speaker-image-list  ${speaker.imgOrientation}'/>
                </div>
                <h2 class='speaker-name'>${speaker.name}</h2>
            </a>
        </li>

    {{/each}}
</ul>