<div id="subPageContent">
    <div id="content_container" class="ui-content" data-role="content" role="main">
        <div class="jqm-content ui-content" data-role="content" role="main">
            <h2 class='details-speaker-bio'>${name}</h2>
            <img src='${imgUrl}' title='${name}' alt='Bild von ${name}' class='speaker-image'/>
            {{if bio == ""}}
                <p>Keine Informationen vorhanden </p>
            {{else}}
                {{if bio.indexOf("ul") >= 0|| bio.indexOf("ol") >= 0}}
                    <div id="bio-list" class="speaker-bio">
                        {{html bio}}
                    </div>
                {{else}}
                    <p>${bio} </p>
                {{/if}}
            {{/if}}
        </div>
    </div>
</div>

